<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lite.sfa.test"
    android:versionCode="104"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/test_48"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAbV0msHeHVPtAe973EiKdDbexKjmBRlk4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LogonScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".Stocuri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".CreareComanda"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".SelectClientCmd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SelectArtCmd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SelectAdrLivrCmd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".Update"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".AfisComanda"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".Retea"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".SincArticole"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="lite.sfa.test.PreturiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".ReduceriUlterioare"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".SelectClientReduceri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".SelectArtReduceri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Harta"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".ModificareComanda"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".SelectArtModificareCmd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".AprobareComanda"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SelectTipReducere"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".AfisReduceri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".GradReduceri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".SelectExceptiiReduceri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".User"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".ComenziBlocateLimCredit"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".CrashReport"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".InfoClient"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".CreareComandaGed"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".SelectClientCmdGed"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SelectArtCmdGed"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SelectAdrLivrCmdGed"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".AfisComenziSimulate"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".ComenziConditionate"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".CreareClp"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="lite.sfa.test.AprobareClpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="lite.sfa.test.AfisareClpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".CreareDispozitiiLivrare"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".AprobareDispozitiiLivrare"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="lite.sfa.test.AfisareDispozitiiLivrareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".ObiectiveKA"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="lite.sfa.test.VanzariAgentiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Neincasate"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ClientiInactivi"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".InfoVenituri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".PreturiConcurenta"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".AdreseGpsClienti"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".NecesarArticoleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ReturPaleti"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".AfisareReturMarfa"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ClientiSemiactivi"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".AfiseazaObiectiveKA"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".AfiseazaObiectiveAgenti"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".StareComenzi"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".RealizareTarget"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ReturComanda"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ClientiFacturati"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".TestVoice"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SpeechRecognizerSampleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Delegatii"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".InstrumentePlata"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".SelectFurnizorCmd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ModificareCustodie"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".AdrLivrCustodie"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Ntcf"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Salarizare"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ObiectiveCva"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ClientiAlocati"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".PierderiVanzari"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ModificareDataLivrare"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" >
        </uses-library>
    </application>

</manifest>